<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EcoWeb</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/fonts">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/trash.css">
    <link rel="stylesheet" href="/static/assets/css/temp.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>SMART TRASH</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-tachometer-alt" style="font-size: 24px;"></i><span>Dashboard</span></a></li>
                    {% if bin1_reachable %}
                    <li class="nav-item"><a class="nav-link" href="/bin1"><i class="fas fa-trash" style="font-size: 24px;"></i><span>Bin 1</span></a></li>
                    {% endif %}
                    {% if bin2_reachable %}
                    <li class="nav-item"><a class="nav-link" href="/bin2"><i class="fas fa-trash" style="font-size: 24px;"></i><span>Bin 2</span></a></li>
                    {% endif %}
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <h3 class="text-dark mb-0">Bin 2</h3>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Trash Controller</h6>
                                </div>
                                <div class="card-group">
                                    <div class="card align-items-center">
                                        <div class="card-body">
                                            <h4 class="card-title text-center">Paper Only</h4>
                                            <div class="bin-level" id="trash-level1">
                                                <div class="text-center" style="color: black; padding-top: 30%; font-size: 34px;" id="indicator1">
                                                    The Bin is Closed
                                                </div>
                                            </div>
                                            <div class="button-group text-center">
                                                <button class="btn btn-primary" onclick="publishMQTT('open_paper','indicator1')">Open</button>
                                                <button class="btn btn-primary" onclick="publishMQTT('close_paper','indicator1')">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card align-items-center">
                                        <div class="card-body">
                                            <h4 class="card-title text-center">Others</h4>
                                            <div class="bin-level" id="trash-level2">
                                                <div class="text-center" style="color: black; padding-top: 30%; font-size: 34px;" id="indicator2">
                                                    The Bin is Closed
                                                </div>
                                            </div>
                                            <div class="button-group text-center">
                                                <button class="btn btn-primary" onclick="publishMQTT('open_general','indicator2')">Open</button>
                                                <button class="btn btn-primary" onclick="publishMQTT('close_general','indicator2')">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">PIs Status</h6>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <h3 style="font-size: 26px;">Servo Motors PI</h3>
                                        <p>Status: <span class="status" id="status-motor2"></span></p>
                                        <p>Temperature: <span class="temp" id="nick-temp"></span> <span id="tempIcon"></span></p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/static/assets/js/bootstrap.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/assets/js/socket.js"></script>
    <script>
        var socket = io();
        var temperatureElement = document.getElementById('nick-temp');
        
        socket.on('connect', function() {
            console.log('SocketIO connected');
        });

        // Receive temperature updates
        socket.on('update', function (data) {
                var topic = data.topic;
                var tempLevel = parseFloat(data.payload);
                setTempLevel(topic, tempLevel);

            });

        function publishMQTT(message, indicatorId) {

            // Emit an MQTT message to the server
            socket.emit('mqtt_publish', { message, topic: 'bin2' });    
            changeStatus(message, indicatorId);
            
        }

        function changeStatus(message, indicatorId){
            var Bin_status = document.getElementById(indicatorId);
            var trash1 = document.getElementById('trash-level1');
            var trash2 = document.getElementById('trash-level2');

            if (message.includes('open')) {
                Bin_status.textContent = 'The Bin is Open';
                console.log("OPEN & " + indicatorId);
                
                if (indicatorId.includes('1')) {
                    trash1.style.backgroundColor = 'green';
                }
                else if (indicatorId.includes('2')) {
                    trash2.style.backgroundColor = 'green';
                }
            }
            else if (message.includes('close')) {
                Bin_status.textContent = 'The Bin is Closed';
                console.log("CLOSED & " + indicatorId);

                if (indicatorId.includes('1')) {
                    trash1.style.backgroundColor = 'red';
                }
                else if (indicatorId.includes('2')) {
                    trash2.style.backgroundColor = 'red';
                }
            }
        }

        function setTempLevel(topic, temperature) {
            var indicator;
            var timeoutId;
            var statusElement;

            if (topic === 'temp/nick') {
                indicator = document.getElementById('nick-temp');
            }

            if (indicator) {
                indicator.textContent = temperature + "°C";

                indicator.className = "temp"; // Reset the class

                var tempIcon = document.getElementById("tempIcon");
                tempIcon.innerHTML = ""; // Clear the previous icon

                if (temperature < 45) {
                    indicator.classList.add("temp-low");
                } else if (temperature >= 45 && temperature < 55) {
                    indicator.classList.add("temp-medium");
                } else {
                    indicator.classList.add("temp-high");
                    tempIcon.innerHTML = '<i class="fas fa-exclamation-circle"></i>';
                }

            }
        }

        function updateStatus(hostname, result) {
            var indicator = document.getElementById('status-' + hostname);

            if (result === 'online') {
                indicator.textContent = 'Online';
                indicator.style.color = 'green';
            } else {
                indicator.textContent = 'Offline';
                indicator.style.color = 'red';
            }
        }

        function pingHostname(hostname) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/ping/' + hostname, true);

            xhr.onload = function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    updateStatus(hostname, response.status);
                }
            };

            xhr.send();
        }

        setInterval(function() {
            pingHostname('motor2');
        }, 2000);
    </script>
</body>

</html>