<!DOCTYPE html>
<html>
	<head>
		<title>Real-Time Data</title>
	</head>
	
	<body>
		<h1>Real-Time Data Display</h1>
		<p id="data">No data yet</p>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js"></script>
		<script>
			// Javascript code to update the page dynamically
			$(document).ready(function () {
				var dataElement = document.getElementById("data");
				
				// MQTT broker configuration
				var brokerHost = '192.168.10.191';
				var brokerPort = 1883;
				var clientId = 'central1'
				var username = 'admin';
				var password = 'password';
				
				// Connect to MQTT broker
				var mqttClient = new Paho.MQTT.Client(brokerHost, brokerPort, 
					clientId + parseInt(Math.random() * 100, 10));
				mqttClient.username = username;
				mqttClient.password = password;
				
				mqttClient.onMessageArrived = function (message) {
					var data = message.payloadString;
					updateData(data);
				};

				
				// Update the data on the web page
				function updateData(data) {
					dataElement.textContent = data;
				}
		});
		</script>
	</body>
</html>
