<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EcoWeb</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/fonts">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/trash.css">
    <link rel="stylesheet" href="/static/assets/css/temp.css">
    <link rel="stylesheet" href="/static/assets/css/cards.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>SMART TRASH</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-tachometer-alt" style="font-size: 24px;"></i><span>Dashboard</span></a></li>
                    {% if bin1_reachable %}
                    <li class="nav-item"><a class="nav-link" href="/bin1"><i class="fas fa-trash" style="font-size: 24px;"></i><span>Bin 1</span></a></li>
                    {% endif %}
                    {% if bin2_reachable %}
                    <li class="nav-item"><a class="nav-link" href="/bin2"><i class="fas fa-trash" style="font-size: 24px;"></i><span>Bin 2</span></a></li>
                    {% endif %}
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="ag-format-container">
                        <div class="ag-courses_box">
                            {% if bin1_reachable %}
                            <div class="ag-courses_item">
                                <a href="/bin1" class="ag-courses-item_link">
                                  <div class="ag-courses-item_bg"></div>
                        
                                  <div class="ag-courses-item_title">
                                    Bin 1
                                  </div>
                                </a>
                            </div>
                            {% endif %}
                            {% if bin2_reachable %}
                            <div class="ag-courses_item">
                                <a href="/bin2" class="ag-courses-item_link">
                                  <div class="ag-courses-item_bg"></div>
                          
                                  <div class="ag-courses-item_title">
                                    Bin 2
                                  </div>
                                </a>
                            </div>
                            {% endif %}  
                            {% if not bin1_reachable and not bin2_reachable %}
                            <div>
                                <div class="display-6" style="color: black;">
                                    NO IOT DEVICES CONNECTED
                                </div>
                            </div>
                            {% endif %}                    
                        </div>
                      </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/static/assets/js/bootstrap.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/assets/js/socket.js"></script>
    <script>
        var socket = io();
        socket.on('connect', function() {
        console.log('Connected to server');
        });

        socket.on('update', function(data) {
        var topic = data.topic;
        var trashLevel = parseFloat(data.payload);
        setTrashLevel(topic, trashLevel);
        });

        function setTrashLevel(topic, percentage) {
        var indicator;
        if (topic === 'trash/plastic') {
            indicator = document.getElementById('indicator1');
        } else if (topic === 'trash/general') {
            indicator = document.getElementById('indicator2');
        }

        if (indicator) {
            var indicatorHeight = percentage + '%';
            indicator.style.height = indicatorHeight;
            indicator.innerHTML = '<div class="percentage">' + percentage.toFixed(2) + '%</div>';
        }
        }
    </script>
</body>

</html>