<!DOCTYPE html>
<html>
<head>
  <title>Trash Level</title>
</head>
<body>
  <h1>Trash Level:</h1>
  <p id="trash"></p>

  <!-- Include the MQTT.js library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.2.7/mqtt.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
  <script>
      var socket = io();
      socket.on('connect',function() {
          console.log('Connected to server');
      });
     
      socket.on('update', function(message) {
          var data = parseFloat(message);
          
          var total_length = 100.00;
          
          var trash = ( data / total_length ) * 100;
          
          document.getElementById('trash').innerHTML = trash.toFixed(2) + '%';
      });
  </script>
  </script>
  <!-- Include your JavaScript code -->
  <script src="static/assets/js/trash.js"></script>
</body>
</html>
